.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.img {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-size: 14px;
}
.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li {
    margin-top: 20px;
}
.reg_form ul li label {
    width: 80px;
    display: inline-block;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    margin: 0 8px;
}
.error {
    color: #c81523;
}
.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/exc1.jpg);
    margin-top: -2px;
}
.succes {
    color: green;
}
.safe {
    padding-left: 160px;
}
.safe em {
    padding: 0 12px;
    color: #fff;
    margin: 0 2px;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.agree {
    padding-left: 95px;
}
.agree input {
    vertical-align: middle;
    margin-right: 10px;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 110px;
}
/* footer模块 */
.mod_links {
    height: 17px;
    margin-top: 23px;
    margin-bottom: 15px;
    text-align: center;
}
.mod_links span {
    padding: 0 5px;
}
.mod_copyright {
    line-height: 20px;
    text-align: center;
}